Data Types

There are 4 data types - (Integer, Float, String and Boolean)

In [29]:
#Subcripting
print("Hello"[0]) #1st character in python is represented by 0 as index

H

In [30]:
print("Hello"[4])

o

In [31]:
print("Hello"[2])

l

In [33]:
print(type("145" + "123"))

<class 'str'>

In [35]:
print("145" + "123")

145123

In [37]:
print("Hello" + "254")

Hello254

In [39]:
print(134 + 345.56) #You can concatenate str to str / int to int / into to float

479.56

In [ ]:
#Integer 
#Integer - is any number without a decimal point and is not closed in open or close quotations
#Example of integers are 1, 2, 45, 600, 97878, 345_458_345, -4 , -56, -909 etc
#Any number whether positive or negative - without decimal points and no quotations

In [1]:
#Float
#Float - is any number with a decimal point - whether positive or negative 
#Example of floating numbers are 1.1, 34.5, 20.0, 745_567.89, -0.2 -7.89 etc

In [2]:
#String
#String - is a number, letter, or word enclosed in quotations
#Examples of string are "123", "Hello Word", "r", "45" etc

In [3]:
#Checking data type
print(type(45))

<class 'int'>

In [4]:
type(23)

int

In [9]:
print(type(56))

<class 'int'>

In [10]:
print(type(567_590))

<class 'int'>

In [11]:
print(type(-6))

<class 'int'>

In [12]:
print(type(0))

<class 'int'>

In [13]:
print(type(2.34))

<class 'float'>

In [14]:
print(type(-2.4))

<class 'float'>

In [15]:
print(type(23_670.98))

<class 'float'>

In [16]:
print(type(0.99))

<class 'float'>

In [17]:
print(type("hello"))

<class 'str'>

In [18]:
print(type("156"))

<class 'str'>

In [19]:
print(type("234_458.8"))

<class 'str'>

In [20]:
print(type("456_234"))

<class 'str'>

In [21]:
print(type("r"))

<class 'str'>

In [22]:
#Boolean 
#Boolean is two versions -> True or False (1 or 0)

Type conversion

In [23]:
#Convert a string to an int 
num_char = len(input("What is your name? "))
new_num_char = str(num_char)
print(type(num_char))

What is your name? Victor
<class 'int'>

In [25]:
num_char = len(input("What is your name? "))
new_num_char = str(num_char)
print("Your name has " + new_num_char + " characters.")

What is your name? Victor
Your name has 6 characters.

In [41]:
two_digit_number = input("Enter a two digit number: ")
type(two_digit_number)

Enter a two digit number: 56

str

In [47]:
first_digit = two_digit_number[0]
second_digit = two_digit_number[1]
result = first_digit + second_digit
print(result)
type(result)

56

str

In [52]:
first_digit = two_digit_number[0]
second_digit = two_digit_number[1]
result = int(first_digit) + int(second_digit)
print(result)
print(type(result)) #OR

11
<class 'int'>

In [50]:
two_digit_number = input("Enter a two digit number: ")
first_digit = int(two_digit_number[0])
second_digit = int(two_digit_number[1])
result = first_digit + second_digit
print(result)
print(type(result)) #OR

Enter a two digit number: 56
11
<class 'int'>

In [55]:
#Day 2 Project: Tip Calculator Program

print("Welcome to the Tip Calculator!")
bill = float(input("Enter the total bill in Ksh:\n  "))
tip = int(input("Enter percentage of tip you would like to give:\n  "))
number_of_people = int(input("Enter the number of people to split the bill:\n  "))
#bill_with_tip = sum of tip and bill
bill_plus_tip = tip/100*bill+bill
print(f"Total bill is Ksh {bill_plus_tip}")
#Amount per person
bill_per_person = bill_plus_tip/number_of_people
#Rounding off 
final_amount_per_person = round(bill_per_person)
print(f"Each person to pay Ksh {final_amount_per_person}")

Welcome to the Tip Calculator!
Enter the total bill in Ksh:
  5650.45
Enter percentage of tip you would like to give:
  12
Enter the number of people to split the bill:
  7
Total bill is Ksh 6328.504
Each person to pay Ksh 904

In [61]:
#Day 2 Project: Own Project: School Fees Calculator
student_fees = float(input("Enter school fees in Ksh:\n  "))
student_shopping = int(input("Enter percentage of shopping:\n  "))
number_of_brothers = int(input("Enter the number of brothers to split the fees:\n  "))
fees_plus_shopping = student_shopping/100*student_fees+student_fees
print(f"Total fees and shopping is Ksh {fees_plus_shopping}")
amount_per_brother = fees_plus_shopping/number_of_brothers
final_amount_per_brother = round(amount_per_brother) #Round
print(f"Each brother should pay Ksh {final_amount_per_brother}")

Enter school fees in Ksh:
  45675
Enter percentage of shopping:
  10
Enter the number of brothers to split the fees:
  4
Total fees and shopping is Ksh 50242.5
Each brother should pay Ksh 12561